<button (mousedown)="beginHeat()" (mouseup)="endHeat()" (mouseout)="endHeat()" (touchstart)="beginHeat()" (touchend)="endHeat()">Apply Heat</button>

<ul>
  <li>Temperature: {{ displayTemperature() }}</li>
  <li>Durability: {{ panel.durability }}</li>
  <li>Value: {{ panel.value }}</li>
  <li>HeatInc: {{ heatInc }}</li>
</ul>

<div class="dials">
  <div class="temperature">
    <div class="indicator" *ngFor="let i of generateArray(40)"></div>
    <svg class="needle" viewBox="0 0 100 100" preserveAspectRatio="none" [style.transform]="temperatureDial()">
      <polygon points="0,50 100,0 100,100"></polygon>
    </svg>

  </div>
</div>
