@use "sass:math";

button {
  background: red;
  color: white;
  border: 0;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.dials {
  .temperature {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: white;
    position: relative;
    transform: rotate(-45deg);
    &:after {
      content: "";
      background: #eee;
      width: 50%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
    .indicator {
      background: #999;
      width: .5%;
      height: 3.5%;
      position: absolute;
      z-index: 0;
      $count: 40;
      left: 50% - .25%;
      top: 50% - 1.75%;
      @for $i from 1 through $count {
        &:nth-child(#{$i}) {
          $i: $i - 1;
          $angle: $i * (360/$count);
          $percent: if($i % ($count / 4) == 0, 800%, 1375%);
          transform: rotate(#{$angle}deg) translate(0, $percent);
        }
      }
      &:nth-child(#{$count / 4}n + 1) {
        z-index: 1;
        width: 1%;
        height: 6%;
        left: 50% - .5%;
        top: 50% - 3%;
        background: #666;
      }
    }
    .needle {
      position: absolute;
      z-index: 2;
      top: 50% - 1%;
      left: 0%;
      width: 50%;
      height: 2%;
      transform-origin: 100% 50%;
      transition: transform .1s linear;
      polygon {
        fill: #d70000;
      }
    }
  }
}
